html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p{
    margin: 0;
}

#contavite {
    display: inline-block;
}

main {
    margin-top: auto;
    margin-bottom: auto;
    align-items: flex-start;
    width: 35vw;
    height: 43vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 65, 25, 1) 28%, rgba(0, 65, 255, 1) 68%);
    border-radius: 3vw;
    font-family: "Candara",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#playground {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(93, 93, 243);
    width: 30vw;
    position: relative;
    height: 35vw;
    border: rgb(255, 38, 226) groove 1vw;
    border-radius: 1vw;
}

#login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#barraInformazioni {
    height: 2.7vw;
    background-color: white;
    width: 100%;
    border-radius: 2vw;
    border-bottom: 0.5vw solid rgb(192, 212, 255);
    font-family: "Candara";
    font-weight: bold;
}

#barraInformazioni.selezionaLivello{
    text-align: center;
    font-size: 2vw;
   
}

#barraInformazioni.gioco {
    display: flex;
}

.vite{
    position: relative;
    font-size: 3vw;
}

#contaVite {
    position: relative;
    left: 2.5vw;
    bottom: 0.7vw;
    width: 50%;    
}

#divPunteggio{
    float: left;
}

#divRecord{
    float: left;
    clear: left;
}



/* #punteggio, #x, #vite {
    display: inline;
    margin: 0;
    text-align: center;
    font-size: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

#selLiv{
    text-align: center;
}

.ball {
    position: absolute;
    width: 0.8vw;
    height: 0.8vw;
    background: radial-gradient(circle, rgba(223, 223, 223, 1) 16%, rgba(157, 157, 157, 1) 36%);
    border-radius: 50%;
}

#iconaBall {
    display: inline-block;
    width: 1.6vw;
    height: 1.6vw;
    background: radial-gradient(circle, rgba(223, 223, 223, 1) 16%, rgba(157, 157, 157, 1) 36%);
    border-radius: 50%;
}

#player {
    box-shadow: 0.3vw 0.3vw black;
    width: 8vw;
    height: 1vw;
    background: linear-gradient(180deg, rgba(255, 155, 60, 1) 28%, rgba(0, 65, 255, 1) 68%);
    border-radius: 0.5vw;
    position: absolute;
    bottom: 4%;
}

#iconaPlayer {
    display: block;
    width: 12vw;
    border-left: solid red 1vw;
    border-right: solid red 1vw;
    height: 2vw;
    background-color: gray;
}


.block {
    box-shadow: 0.2vw 0.2vw black;
    width: 2.4vw;
    height: 1.6vw;
    border: 0.2vw solid black;
    border-radius: 10%;
    background-color: blue;
    /*border: 2px inset blue;*/
    position: absolute;
    bottom: 5%;
}

.block.green {
    background-color: green;
}

.block.red {
    background-color: red;
}

.block.yellow {
    background-color: yellow;
}

.block.orange {
    background-color: orange;
}

.block.blue {
    background: blue;
}

.block.white {
    background-color: white;
}

.block.black {
    background-color: black;
}

.block.gold {
    background-color: gold;
}

.block.gold-hitted {
    background-color: goldenrod;
}

#highscore {
    text-align: center;
    font-size: 3em;
}

#testoFinePartita {
    text-align: center;
    font-size: 5vw;
    color: white;
}

.proiettile {
    width: 0.3vw;
    height: 0.5vw;
    background-color: yellow;
    position: absolute;
}

.powerUP {
    width: 2vw;
    height: 0.5vw;
    position: absolute;
}

.powerUP.allunga {
    background-color: chartreuse;
}

.powerUP.accorcia {
    background-color: darkorange;
}

.powerUP.calamita {
    background-color: black;
}

.powerUP.raddoppia {
    background-color: darkorchid;
}

.powerUP.proiettili {
    background-color: gray;
}

table {
    width: 100%;
    height: 100%;
}

td {

    text-align: center;
}

img {
    width: 100%;
}

.a {
    font-size: 5vw;
}

#risultato{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 20vw;
    position: relative;
    top: 5vw;
    border: inherit;
    border-radius: inherit;
    height: 25vw;
}

.finePartita{
    text-align: center;
    color: white;
    font-size: 2vw;
}

